/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * nudista-web:
 *   - http://typekit.com/eulas/00000000000000003b9afb67
 *   - http://typekit.com/eulas/00000000000000003b9afb6d
 *
 * © 2009-2019 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2018-03-28 11:46:02 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=ema8ehi&ht=tk&f=1791.1797&a=8843776&app=typekit&e=css");

@font-face {
font-family:"nudista-web";
src:url("https://use.typekit.net/af/7efd4b/00000000000000003b9afb67/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/7efd4b/00000000000000003b9afb67/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/7efd4b/00000000000000003b9afb67/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"nudista-web";
src:url("https://use.typekit.net/af/f75c20/00000000000000003b9afb6d/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/f75c20/00000000000000003b9afb6d/27/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/f75c20/00000000000000003b9afb6d/27/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

.tk-nudista-web { font-family: "nudista-web",sans-serif; }
